In [75]:
from pandas_datareader import data as pdr
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd

In [76]:
yf.pdr_override()

In [98]:
ticker = "SPY"
start_date, end_date = "2015-01-01", "2020-12-31"
interval = '1d'

In [99]:
data = pdr.get_data_yahoo(ticker, start=start_date, end=end_date, interval = interval)

[*********************100%***********************]  1 of 1 completed

In [100]:
data = data.reset_index()

In [101]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-12-31,207.990005,208.190002,205.389999,205.539993,182.844467,130333800
1,2015-01-02,206.380005,206.880005,204.179993,205.429993,182.746567,121465900
2,2015-01-05,204.169998,204.369995,201.350006,201.720001,179.446259,169632600
3,2015-01-06,202.089996,202.720001,198.860001,199.820007,177.756073,209151400
4,2015-01-07,201.419998,202.720001,200.880005,202.309998,179.971115,125346700

In [102]:
data.Date = pd.to_datetime(data.Date)

In [103]:
data = data.sort_values(by='Date', ascending=True)

In [104]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-12-31,207.990005,208.190002,205.389999,205.539993,182.844467,130333800
1,2015-01-02,206.380005,206.880005,204.179993,205.429993,182.746567,121465900
2,2015-01-05,204.169998,204.369995,201.350006,201.720001,179.446259,169632600
3,2015-01-06,202.089996,202.720001,198.860001,199.820007,177.756073,209151400
4,2015-01-07,201.419998,202.720001,200.880005,202.309998,179.971115,125346700

In [105]:
# raw data
data.to_csv('raw_daily_data_15_20.csv')

In [ ]:
data.volatility = data.

In [5]:
train_df, test_df = data[:int(data.shape[0]*0.7)], data[int(data.shape[0]*0.7):]

In [5]:

train_df.to_csv('train_spy_200101_201231.csv')
test_df.to_csv('test_spy_200101_201231.csv')