In [1]:
from pandas_datareader import data as pdr
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
yf.pdr_override()

In [24]:
ticker = "SPY"
start_date, end_date = "2010-01-01", "2021-01-10"
interval = '1d'

In [25]:
data = pdr.get_data_yahoo(ticker, start=start_date, end=end_date, interval = interval)

[*********************100%***********************]  1 of 1 completed

In [26]:
data = data.reset_index()

In [27]:
data.Date = pd.to_datetime(data.Date)
data = data.sort_values(by='Date', ascending=True)

In [28]:
# data = data.set_index('Date')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-12-31,112.769997,112.800003,111.389999,111.440002,89.568359,90637900
1,2010-01-04,112.370003,113.389999,111.510002,113.330002,91.087418,118944600
2,2010-01-05,113.260002,113.680000,112.849998,113.629997,91.328552,111579900
3,2010-01-06,113.519997,113.989998,113.430000,113.709999,91.392838,116074400
4,2010-01-07,113.500000,114.330002,113.180000,114.190002,91.778671,131091100

In [29]:
# raw data
data.to_csv('raw_daily_data_201001_202101.csv', index=False)

In [30]:
data.shape

(2775, 7)