# EDA

In [4]:
import numpy as np
import pandas as pd

In [9]:
path = '../data/'
stock_df = pd.read_csv(path+'test_spy_200101_201231.csv')
stock_df.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2020-09-10 15:30:00-04:00,334.040009,335.649994,333.570007,333.910004,333.910004,16326527
1,2020-09-11 09:30:00-04:00,335.820007,336.529999,333.709991,335.459991,335.459991,14243854
2,2020-09-11 10:30:00-04:00,335.459991,336.970001,334.540009,335.559998,335.559998,9551741
3,2020-09-11 11:30:00-04:00,335.549988,335.859985,334.380005,335.239990,335.239990,6998188
4,2020-09-11 12:30:00-04:00,335.230011,335.230011,331.589996,331.700012,331.700012,11105456